# Backend & AI
fastapi
uvicorn
crewai>=0.28.0
langchain
langchain-google-genai
langchain-openai
fal-client
googlemaps
python-dotenv
requests
redis
pydantic
pydantic-settings
sqlalchemy

# Dashboard (Streamlit)
streamlit
streamlit-option-menu
folium
streamlit-folium
pandas

# Database & Tools
psycopg2-binary
# sqlite3 est intégré à Python, pas besoin de l'installer via pip
