@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-cream: 250 246 238;
  --color-ink: 30 24 22;
}

body {
  background-color: rgb(var(--color-cream));
  color: rgb(var(--color-ink));
}
